<<<<<<< HEAD
extends layout

block content
  h1= title
  p Welcome to #{title}
=======
extends layout

block content
  h1= title
  p Welcome to #{title}
>>>>>>> 6bc630fab0a0ca1eb44280ff6cbc925e0dd1999e
