<<<<<<< HEAD
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
=======
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
>>>>>>> 6bc630fab0a0ca1eb44280ff6cbc925e0dd1999e
